.pace .pace-progress {

  box-shadow: 5px 0 15px 0px #3784d6;
  background:linear-gradient(to bottom, rgba(55,132,214,1) 0%,rgba(254,254,254,1) 30%,rgba(254,254,254,1) 47%,rgba(254,254,254,1) 71%,rgba(55,132,214,1) 100%);
  border-radius: 0px 20px 20px 30px;
  background-color: rgba(0, 0, 0, 0.19999999999999996);  
  animation: vader 2s infinite;
}

@keyframes obi {
	from { box-shadow: 5px 0 10px #3784d6; }
	50% { box-shadow: 5px 0 15px #3784d6; }
	to { box-shadow: 5px 0 10px #3784d6; }
}