.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 35px;
  width: 450px;
  background: #fff;
  overflow: hidden;
}

.pace-inactive {
  display: block;
}

.pace .pace-progress {

  box-shadow: 0 0 12px #e51115;
  background:linear-gradient(to bottom, rgba(229,17,21,1) 0%,rgba(254,254,254,1) 30%,rgba(254,254,254,1) 47%,rgba(254,254,254,1) 71%,rgba(229,17,21,1) 100%);
  border-radius: 0 10px 10px 20px;
  background-color: rgba(0, 0, 0, 0.19999999999999996);  
	/*laser's style*/
	/*you can change it to Blue lasersaber*/
  max-width: 440px;
  /*how far can it go*/
  display: block;
  position: absolute;
  top: 15px;
  right: 100%;
  height:9px;
  /*laser's height*/
  width: 100%;

}

.pace .pace-activity {
background: url(saber.png) no-repeat;
position: absolute;
display:block;
width:450px;
height:35px;
z-index: 9999;
/*lasersaber's handle image, which comes from google, I photoshoped it*/
}
